.top {
    position: absolute;
    top: 60px;
  
}

ion-card-header {
    background-color: skyblue;
    color: white; /* Optionally, adjust text color */
  }

  .left {
    margin-right: auto;
  }

  .size{
    size: 50%;
  }