<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign in</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-content id="container">
<ion-card>
  <ion-card-header>
    <h1><b>Sign in</b></h1>
    <hr>
  </ion-card-header>
  <ion-card-content>
    <ion-card>
      <br>
    <ion-input type="text" [(ngModel)]="email" > Email </ion-input>
    <br>
    <ion-input type="Password"[(ngModel)]="pass" > Password </ion-input>
      <br>
    </ion-card>
  </ion-card-content>
  
<ion-button (click)="Signin()">Sign in</ion-button>
<br>
<br>
<ion-card-subtitle>Don't have an account? <u><a href="/signup">Sign up here</a></u></ion-card-subtitle>
<br>
</ion-card>
<!-- {{email}}
{{pass}} -->
</ion-content>