// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #b9b951;
    --ion-color-primary-rgb: 185, 185, 81;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #aaa933;
    --ion-color-primary-tint: #c8c870;

    --ion-color-secondary: #b1b142;
    --ion-color-secondary-rgb: 177, 177, 66;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #aaa933;
    --ion-color-secondary-tint: #c0c061;

    --ion-color-tertiary: #aaa933;
    --ion-color-tertiary-rgb: 170, 169, 51;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #9b9b14;
    --ion-color-tertiary-tint: #b9b951;

    --ion-color-success: #44e283;
    --ion-color-success-rgb: 68, 226, 131;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #62ceff;

    --ion-color-warning: #ffd948;
    --ion-color-warning-rgb: 255, 217, 72;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffdf67;

    --ion-color-danger: #ff5b71;
    --ion-color-danger-rgb: 255, 91, 113;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff6e84;

    --ion-color-dark: #f5f5dc;
    --ion-color-dark-rgb: 245, 245, 220;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #dedea1;
    --ion-color-dark-tint: #f5f5dc;

    --ion-color-medium: #7d7d00;
    --ion-color-medium-rgb: 125, 125, 0;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #6a6a00;
    --ion-color-medium-tint: #898989;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e7e7e7;
    --ion-color-light-tint: #ffffff;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

   .ios body {
    --ion-background-color: #f5f5dc;
    --ion-background-color-rgb: 245, 245, 220;

    --ion-text-color: #121212;
    --ion-text-color-rgb: 18, 18, 18;

    --ion-color-step-50: #f9f9f2;
    --ion-color-step-100: #f2f2dc;
    --ion-color-step-150: #ebebc5;
    --ion-color-step-200: #e5e5b1;
    --ion-color-step-250: #dedea1;
    --ion-color-step-300: #d6d68f;
    --ion-color-step-350: #cfcf7f;
    --ion-color-step-400: #c8c870;
    --ion-color-step-450: #c0c061;
    --ion-color-step-500: #b9b951;
    --ion-color-step-550: #b1b142;
    --ion-color-step-600: #aaa933;
    --ion-color-step-650: #a2a224;
    --ion-color-step-700: #9b9b14;
    --ion-color-step-750: #939305;
    --ion-color-step-800: #8c8c00;
    --ion-color-step-850: #848400;
    --ion-color-step-900: #7d7d00;
    --ion-color-step-950: #757500;

    --ion-item-background: #f9f9f2;

    --ion-card-background: #f5f5dc;
}

.ios ion-modal {
    --ion-background-color: #f2f2dc;
    --ion-toolbar-background: #e5e5b1;
    --ion-toolbar-border-color: #dedea1;
}

  

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

   .md body {
    --ion-background-color: #f5f5dc;
    --ion-background-color-rgb: 245,245,220;

    --ion-text-color: #121212;
    --ion-text-color-rgb: 18,18,18;

    --ion-border-color: #ccc;

    --ion-color-step-50: #f9f9f2;
    --ion-color-step-100: #f2f2dc;
    --ion-color-step-150: #ebebc5;
    --ion-color-step-200: #e5e5b1;
    --ion-color-step-250: #dedea1;
    --ion-color-step-300: #d6d68f;
    --ion-color-step-350: #cfcf7f;
    --ion-color-step-400: #c8c870;
    --ion-color-step-450: #c0c061;
    --ion-color-step-500: #b9b951;
    --ion-color-step-550: #b1b142;
    --ion-color-step-600: #aaa933;
    --ion-color-step-650: #a2a224;
    --ion-color-step-700: #9b9b14;
    --ion-color-step-750: #939305;
    --ion-color-step-800: #8c8c00;
    --ion-color-step-850: #848400;
    --ion-color-step-900: #7d7d00;
    --ion-color-step-950: #757500;

    --ion-item-background: #f9f9f2;

    --ion-toolbar-background: #f2f2dc;

    --ion-tab-bar-background: #f2f2dc;

    --ion-card-background: #ebebc5;
}

}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}