<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card class="custom-card">
      <ion-item>
        <ion-label >Type: </ion-label>
        <ion-input type="text" [(ngModel)]="user.Type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label >Name: </ion-label>
        <ion-input type="text" [(ngModel)]="user.Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Level: </ion-label>
        <ion-input type="text" [(ngModel)]="user.Level"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date: </ion-label>
        <ion-input type="text" [(ngModel)]="user.dateOb" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Equipped: </ion-label>
        <ion-input type="text" [(ngModel)]="user.Equip" disabled>
          <ion-toggle [(ngModel)]="user.Equip" (ionChange)="toggleActive(user)"></ion-toggle>
        </ion-input>  
      </ion-item>

      <ion-row justify-content-center class="ion-margin-top">
        <ion-col size="auto">
          <ion-button (click)="save()" color="success">Save</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="delete(user)" color="danger" *ngIf="user.id">Delete</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div>
    <h2>Equipment</h2>
    <table *ngIf="!isLoading" class="custom-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Level</th>
          <th>Date Obtained</th>
          <th>Equipped</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{user.Type}}</td>
          <td>{{user.Name}}</td>
          <td>{{user.Level}}</td>
          <td>{{ user.dateOb | date: 'yyyy-MM-dd' }} - {{ user.dateOb }}</td>
          <td><ion-toggle [(ngModel)]="user.Equip" (ionChange)="toggleActive(user)"></ion-toggle></td>
          <td><ion-button color="warning" (click)="edit(user)">Edit</ion-button></td>
        </tr>
      </tbody>
    </table>
  </div>
<br><br><br><br><br><br><br><br><br>
  <ion-button (click)="logOut()" expand="block" color="warning"> Log Out </ion-button>
</ion-content>


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card>
<ion-item>
  <ion-label >Type: </ion-label>
  <ion-input type="text" [(ngModel)]="user.Type"></ion-input>
</ion-item>
<ion-item>
  <ion-label >Name: </ion-label>
  <ion-input type="text" [(ngModel)]="user.Name"></ion-input>
</ion-item>
<ion-item>
  <ion-label >Level: </ion-label>
  <ion-input type="text" [(ngModel)]="user.Level"></ion-input>
</ion-item>
<ion-item>
  <ion-label >Data Obtained: </ion-label>
  <ion-input type="text" [(ngModel)]="user.dateOb"> </ion-input>
</ion-item>
<ion-item>
  <ion-label >Equip: </ion-label>
  <ion-toggle [(ngModel)]="isToggled"></ion-toggle>
</ion-item>

<ion-button (click)="save()" color="success">save</ion-button>
<ion-button (click)="delete(user)" color="danger" *ngIf="user.id">Delete</ion-button>
</ion-card>

<br>


<ion-content>
  <h2>Equipment</h2>
  <ion-list>
    <ion-item>
      <ion-label><b>Type</b></ion-label>
      <ion-label><b>Name</b></ion-label>
      <ion-label><b>Level</b></ion-label>
      <ion-label><b>Data Obtained</b></ion-label>
      <ion-label><b>Equipped</b></ion-label>
      <ion-label><b>Edit</b></ion-label>
    </ion-item>

    <div class="content" *ngFor="let user of userList">
    <ion-item>
      <ion-label>{{user.Type}}</ion-label>
      <ion-label>{{user.Name}}</ion-label>
      <ion-label>{{user.Level}}</ion-label>
      <ion-label>{{user.dateOb}}</ion-label>
      <ion-label>{{user.Equipped}}</ion-label>
      <ion-button color="warning" (click)="edit(user)">Edit</ion-button>
    </ion-item>
    </div>
  </ion-list>
</ion-content>




<br><br><br><br><br><br><br>

  <ion-button (click)="logOut()"> Log Out </ion-button>
</ion-content>
 -->

